* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  background-color: #212121;
  color: white;
  width: 100%;
  height: 70px;
}
.nav i {
  margin-right: 10px;
}


ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 20px;
  
}
li {
  font-weight: 900;
  font-size: 18px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
  margin-right: 40px;
}
header {
  height: 10vh;
  width: 100vw;
  text-align: center;
  margin-top: 30px;
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 20px;
}

 .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards in one row */
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin: 20px auto;
  width: 90%;
}

.card {
  text-align: center;
  height: 250px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #8a2be2;
  padding: 16px;
  margin: 8px;
  width: 200px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
.card:hover {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
footer {
  height: 10vh;
  width: 100vw;
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  background-color: #212121;
  color: white;
}