* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  background-color: #212121;
  color: white;
  width: 100%;
  height: 70px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 20px;
}

header {
  height: 200px;
  width: 100vw;
  text-align: center;
  margin-top: 30px;
}

.search-bar{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 20px;
}
.container {
  /* margin-top: 50px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  height: 250px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: blueviolet;
  padding: 16px;
  margin: 8px;
  width: 200px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
.card:hover {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
